// fonts
// font weights
// base colors

$blue         : #248cec;
$yellow       : #f4b60d;
$silver       : #ccc;
$abbey        : #494c4f;
$tuna         : #35383c;
$shark        : #2a2d32;
$black        : #191a1d;

// color usage

//primary colors
$company-blue : $blue;
$company-yellow : $yellow;

//header
$social     : $silver;
$main-menu : $shark;
$menu-border : $black;
$search     : $abbey;

$border-dark  : $black;
$text-color   : #8a8a8a;

// text