@import 'config';
@import 'functions';
@import 'mixins';
@import 'placeholders';
@import 'reset';
@import 'glyphter';
@import '../js/plugins/slick/slick.scss';
@import '../js/plugins/slick/slick-theme.scss';

body {
  font: {
    size: $base-font;
    family: $google-font--primary;
  }
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

.company-container {
  padding: 42px 4px 32px;
}

.logo {
  float: left;
  background: url(../img/logo.png) no-repeat;
}

.logo__heading {
  @include font(30px, $bold);
  line-height: .8;
  color: $logo-head;
  padding-left: 44px;
}

.logo__sub-heading {
  opacity: .65;
  color: $logo-subhead;
  @include font(12px, $thin);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding-left: 46px;
}

.social {
  float: right;
  color: $social;
  margin-top: 13px;
  a {
    @include transition(color, 300ms);
    margin-left: 13px;
    &:hover {
      color: $brand-primary;
    }
  }
}

.menu-container {
  background: $main-menu;
  @include transition(opacity, 500);
}

//Main menu

.main-menu {

  float: left;

  &__link {
    display: inline-block;
    font: {
      family: $google-font--secondary;
      size: em(14px);
    }
    color: $white;
    text-transform: uppercase;
    @include border(right, $color: $border);
    @include transition(color, 300ms);
    padding: em(21px, 14px) em(40px, 14px);

    &:hover {
      color: $brand-secondary;
    }

    &--active {
      background-color: $brand-primary;
      &:hover {
        color: $white;
      }
    }
  }
}

.search {

  float: right;
  margin: em(8px, 14px);
  position: relative;

  &__input {
    background: $search;
    font-size: em(12px);
    @include border($color: $border);
    padding: em(11px, 12px);
    padding-right: em(30px, 12px);
    width: em(240px, 12px);
    outline: 0;
    color: $white;
    margin: 0;
  }

  &__submit {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 39px;
    cursor: pointer;
    padding-right: 10px;
    & span {
      font-size: 14px;
      color: $search-ico;
    }
  }
}

.is-sticky {
  opacity: .9;
  z-index: 1000;
  position: relative;

  &:hover {
    opacity: 1;
  }

  .menu-container {
    @include border(bottom, $color: $border);
  }
}

//Slider

.slider {
  position: relative;
  margin-top: 40px;
}

.slide__headline {
  @include font(54px, $bold);
  color: $white;
  text-transform: uppercase;
  line-height: 52px;
  background: rgba(black, .7);
  position: absolute;
  top: 226px;
  margin-left: 36px;
  z-index: 10;
  width: 308px;
  padding: 25px;
  white-space: pre-wrap;
  &:first-line {
    color: $brand-secondary;
  }
}

.slick-dots {

  position: absolute;
  bottom: 18px;

  li button {
    @include border();

    background: $white;

    &:before {
      content: '';
      width: 60%;
      height: 60%;
      margin: 20%;
      background: #000;
    }
  }
}

//Features

.features {
  padding: 70px 0 84px;
}

.single-feature {
  float: left;
  position: relative;
  padding-left: 123px;
  width: 360px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  &__num {
    @include font(90px, $bold);
    color: $section-headline;
    opacity: 0.1;
    position: absolute;
    top: -24px;
    left: -3px;
    letter-spacing: -3px;
  }

  &__ico {
    font-size: 30px;
    color: $brand-secondary;
  }

  &__headline {
    @include font(20px, $bold);
    color: $section-headline;
    margin-top: 7px;
    margin-bottom: 18px;
  }

  &__teaser {
    @extend %teasers;
    margin-bottom: 14px;
  }

  &__link {
    position: relative;
    font-size: 13px;
    color: $section-headline;
    @include transition(color, 300ms);
    & span {
      font-size: 0.7692307692em;
      margin-left: 4px;
      color: $brand-primary;
    }
    &:hover {
      color: $brand-primary;
    }
  }
}

.services {

  background-color: $main-menu;
  padding-top: 60px;
  padding-bottom: 67px;

  &__header {
    @include font(24px, $bold);
    color: $white;
    margin-bottom: 42px;
  }

  &__items {

    font-size: 0;

    li {
      display: inline-block;
      position: relative;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }

      h4 {
        margin-top: 27px;
        color: $white;
        text-align: center;
      }

      a:hover ~ h4 {
        color: $brand-secondary;
      }

      a:hover:after {
        content: '\0048';
        font: {
          family: Glyphter;
          size: 32px;
        }
        color: $white;
        text-align: center;
        line-height: 260px;
        background-color: rgba($brand-primary, .8);
        width: 260px;
        height: 260px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }
  }
}

.blog {
  background: $blog-bg;
  padding-top: 60px;
  padding-bottom: 53px;
}

.news__block {
  position: relative;
  margin-bottom: 28px;
}

.news,
.aside-widget {
  float: left;
  width: 50%;
}

.aside-widget {
  padding-left: 19px;
}

.block {

  float: right;
  width: 74%;
  padding: 5px 20px 5px 33px;

  &__img {
    float: left;
    width: 26%;
  }

  &__header {
    margin-bottom: 3px;
    @include transition(color, 300ms);
    &:hover {
      color: $brand-primary;
    }
  }

  &__sub-header {
    @extend %teasers;
    margin-bottom: 20px;
  }

  &__content {
    @extend %teasers;
  }
}

.news__header,
.aside-widget__header {
  @include font(24px, $bold);
  color: $section-headline;
  margin-bottom: 42px;
}

.sub-header__author,
.sub-header__comments {
  font-size: inherit;
  color: $brand-primary;
}

.time__mon {
  @extend %time;
  @include time($white, $brand-primary, 0);
}

.time__day {
  @extend %time;
  @include time($black, $brand-secondary, 40px);
}

//ACCORDION

.accordion {

  &__header {
    position: relative;
    @include font(13px, $bold);
    @include border($color: #e8e8e8);
    padding: 10px 10px 10px 52px;
    text-transform: uppercase;
    background: $white;
    outline: 0;
    margin-top: 3px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      font: {
        family: 'Glyphter';
        size: 11px;
      }
      content:'\0048';
      position: absolute;
      top: 0;
      left: 0;
      padding: 14px;
      @include border(right, $color: #e8e8e8);
    }
  }

  &__content {
    @extend %teasers;
    display: block;
    padding: 26px 13px 32px 39px;
  }
}

.ui-accordion-header-active {
  color: $white;
  background: $brand-secondary;
  &:after {
    content:'\0047';
  }
}

.partners {

  padding: 86px 0;
  text-align: left;

  &__item {
    margin-right: 42px;
    &:last-child {
      margin-right: 0;
    }
    & img {
      @include transition(opacity, 300ms);
      opacity: 0.65;
    }
    & img:hover {
      opacity: 1;
    }
  }
}

.widgets {
  background-color: $main-menu;
  padding-top: 60px;
  padding-bottom: 70px;
}

.widget {
  &__container {
    float: left;
    width: 25%;
    padding-right: 40px;
  }

  &__title {
    @include font(16px, $bold);
    color: $white;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}

.links-menu__item {
  font-family: $font-tertiary;
  @include font(13px, $normal);
  color: $foo-link;
  padding: 10px 3px;
  @include border(bottom, $color: $link-underscore);
  &:last-child {
    border-bottom: none;
  }
  a {
    @include transition(color, 300ms);
    &:hover {
      color: $brand-primary;
    }
  }

}

.contacts {

  background-color: $contacts;
  padding: 21px 0;

  &__ico {
    vertical-align: text-top;
  }

  &__address,
  &__phone,
  &__email {
    @extend %contacts;
    float: left;
    margin-right: 34px;
  }

  &__copy {
    @extend %contacts;
    float: right;
  }
}
